@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');    
/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/
html,body{
    /*  font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Cabin', sans-serif;*/
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    background-color: #F5F5F5;
}
*{
    margin: 0px;
    padding: 0px;
}
/*================================================================================================================*/
/* 1. phần header*/

.header{        /*thẻ header chứa all nội dung trên đầu*/
    background-color: #EE6363;
    width:100%;
    height: 80px;
    border-radius: 0px;
    position: relative;
    z-index: 1;         /*để headder năm trên menu tùy chọn bên trái*/
    position: fixed;

    display: flex;          /*định dạng lại flex của bootstrap*/
    justify-content:space-between;     /*canh nội dung bát đầu bên trái*/
}
.header a{      /*tên công ty*/
    margin-left: 20px;
    font-size: 20px;    
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
}
.header input{     /*ô tìm kiếm*/
    width: 33%;
    margin-left: -22.5%;
    margin-top: 20px;
}
.header .form-control{  /*chữ nhập nội dung*/
    font-size: 15px;
}

.header .nut-tk{    /*nút tìm kiếm*/
    width: 65px;
    height: 34px;
    margin-top: 20px;
    margin-left: -32%;
    background-color: #3399FF;
    color: #fff;
    border: none;
    box-shadow: 0px 0px 4px #666666;
    font-size: 12px;
}
.header .nut-tk:hover{          /*hover nút tìm kiếm*/
    background-color: #2e8ae6;
}
.header .dropdown .admin{       /*phần chứa avatar + tên admin*/
    width: 100%;
    margin-left: -20%;
    margin-top: 20px;
}

.header .dropdown img{ /*avatar user*/
    width: 40px;
    height: 40px;
    border-radius: 50%;           
}

.header .dropdown{     /*phần chứa dropdown-menu */
    position: relative;
}

.header .dropdown .dropdown-menu{
    position: absolute;             /*phần dropdown-menu ẩn*/
    margin-left: -40%;
    margin-top: -18px;
    width: 150px;
    height: 170px;
    border-radius: 5px;
    z-index: 1;   /*định dạng cho dropdown nằm trên tất cả để xổ xuống*/
    
}
.header .dropdown .dropdown-menu li .dropdown-item{
    margin-left: 1px;   /*phần chứa icon và chữ dropdơn-menu */
} 
.header .dropdown .dropdown-menu .li-1{
    margin-top: -7px;
}                                   

.header .dropdown .dropdown-menu li a{
    font-size: 14px;        /*chữ trong dropdown*/
    
}
.header .dropdown #dLabel{       /*nút chứa tên admin*/
    background-color:unset;   /*bỏ màu nền mặc định của bootstrap*/
    color: #fff;
    font-size: 16px;
    border: none;   /*bỏ border có sẵn của bootstrap*/     
}

/*================================================================================================================*/
/* 2. phần menu tùy chọn*/
#sidebarMenu {          /* nền menu trái*/
position: fixed;
height: 100vh;
background-color: #fff;
box-shadow: 3px 3px 5px #CCCCCC;
overflow-y: scroll;
}
.dm-quanly{
font-size: 18px;
font-weight: bold;
margin-left: 10px;
}
#sidebarMenu .position-sticky{  /*phần chứa nội dung menu-left*/
margin-top: 80px;
}
#sidebarMenu .position-sticky ul li{    /*các thành phần quản lý*/
padding-bottom: 10px;
}

#sidebarMenu .position-sticky .nav .nav-item a svg{
margin-top: -8px;   /*icon thành phần menu*/
color: #000;
}

#sidebarMenu .position-sticky .nav .nav-item a span{
font-size: 15px;   /*thành phần chữ*/
color: #000;
} 
.sidebar-heading span{      /*báo cáo đã lưu*/
font-size: 18px;
padding-bottom: 10px;
margin-left: 7px;
}

/*================================================================================================================*/
/* 3. phần nội dung chính*/

/* cụm 1*/
.my-row{
    width: 110%;
}
.my-row .khung-tk{  /*khung chứa tất cả cá khối thống kê*/
    width: 110%;
}
.my-row .thanhpan-tk{      /*phần chứa từng nội dung khối thống kê*/
    width: 110%;
    height: 21.1%;
    box-shadow: 0px 0px 7px #666666;
    background-color: #fff;
    font-size: 16px;
    
}
.my-row .thanhpan-tk .p-1{     /*text dòng 1*/
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px; 
    margin-left: 20px; 
}
.my-row .thanhpan-tk .p-2{     /* text dòng 2*/
    float: left;
    margin-left: 20px;

}
.my-row .thanhpan-tk .khung-icon{      /* all khung chứa icon*/
    width: 50px;
    height: 50px;
    margin-left: 180px;
    margin-top: -26px;
    text-align: center;
}
.my-row .thanhpan-tk .ic-1{      /*khung chứa icon doanh thu*/
    background-color: #1abc9c;
}
.my-row .thanhpan-tk .ic-2{      /*khung chứa icon số lượng đặt*/
    background-color: #30a5ff;
}
.my-row .thanhpan-tk .ic-3{      /*khung chứa icon kpi*/
    background-color: #f36a5a;
}
.my-row .thanhpan-tk .ic-4{      /*khung chứa icon khách hàng mới*/
    background-color: #fabe28;
}
.my-row .thanhpan-tk .icon{      /*icon */
    margin-top: 15px;  
    font-size: 25px;
    color: #F5F5F5;
}
.my-row .khung-tk{      /*khung chứa cột 1 (lưới b.trap) doanh thu,...,...*/
    width: 250px;
}
/*===============================================*/
/* cụm 2. sơ dô*/
.khung-sodo{
    width: 100%;
    height: 490px;
    background-color: #fff;
    margin-top: 20px;
    margin-left: 3%;
    padding: 30px;
    box-shadow: 0px 0px 7px #666666;
}          

/*===============================================*/
/* cụm 3 table*/
.dashboard{         /*chữa dashboard phía trên*/
    margin-top: 82px;
}

/*===============================================*/
.khung-table{               /*khung chứa bảng*/
    width: 96.5%;
    background-color: #fff;
    margin-top: 20px;
    margin-left: 0%;
    padding: 30px;
    box-shadow: 0px 0px 7px #666666;
}
.khung-table .d-flex{           /*tiêu đề của bảng*/
    background-color: #fff;
}

.table {                        /*bảng*/
    background-color: #fff;
    width: 96.5%;
}