@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html,body{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
*{
    margin: 0px;
    padding: 0px;
}

/*================================================================================================================*/
/* 1. định dạng phần navbar*/
.navbar .menu .navbar-header img{    /*hình logo*/
    width: 220px;
    margin-top: 6%;
    margin-left: 6%;
}
.navbar .menu{
    height: 78px;
}
.navbar{
    background-color: #fff !important;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #DDDDDD;
    z-index: 10;
    border-radius: 0px;
}
.navbar-collapse .navbar-nav .nav-item .nav-link{  /*khoảng cách trái giữa các item navbar + màu chữ*/
    margin-right: 10px;
    color: #000;
}

/*   .navbar-brand{           /*định dạng logo thương hiệu*
    margin-top: 10px;              
}*/


.navbar-collapse .navbar-nav .nav-item .icon{       /*kích thước 2 icon navbar*/
    font-size: 20px;
}
.navbar-collapse .navbar-nav{    /*thành phần menu cách trái*/
    position: relative;
    margin-left: 8%;
    margin-top: 1%;
}
.navbar-collapse .navbar-nav .nav-item .nav-link .glyphicon-chevron-down{        /* tour icon xổ xuống*/
    font-size: 13px;
}

.sub-timkiem{               /*thẻ li tìm kiếm*/
    position: relative;   
    margin-left: 20px;            
}
.o-timkiem{     /*phần tìm kiếm bị ẩn*/
    display: none;  /*ẩn ô tìm kiếm*/
    position: absolute;
    z-index: 1;

    width: 300px;
    height: 100px;
    background-color: #fff;
    margin-left: -170px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 2px #333333;
}
.o-timkiem input{       /*ô nhập nội dung tìm kiếm*/
    width: 190px;
    height: 40px;
    margin: 30px 0px 0px 20px;
    border: 2px solid #BEBEBE;
    border-radius: 5px;
    
}
.o-timkiem a .nut-tk{         /*nút bấm tìm kiếm*/
    width: 40px;
    height: 39px;
    background-color: #ffee00;
    padding-top: 12px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #b8b6b6;
    display: inline-block;      /*để định dạng chiều rộng*/
}
.o-timkiem a .nut-tk:hover{
    background-color: #e7d802;
}
.o-timkiem a .nut-tk .glyphicon-search{     /*icon tìm kiếm của phần ẩn*/
    margin-left: 13px;
    color: #000;
}

.sub-timkiem:hover .o-timkiem{      /*hover hiện ô tìm kiếm*/
    display: block;

}

.navbar-nav .nav-link::after{       /*tạo phần tử ảo after trên a */
    content: "";
    height: 5px;
    width: 0px;
    background: red;
    position: absolute;
    bottom: 8px;
    left: 0px;
    transition: 0.5s ease-in-out;
}
.navbar-nav .nav-link:hover::after{     /*hover vào phần tử ảo tác động đến a */
    width: 43%;
    transform:translateX(100%) ;
}

.sub-menu{                  /* đặt li TOUR TRONG NƯỚC làm móc cha */
    position: relative;
    /*   display: inline-block;*/
}
.dropdown-content{          /* ẩn nội dung dropdown */
    display: none;  
    position: absolute;
    z-index: 1;      /*để nội dung hiện nằm trên slide*/
}
.sub-menu:hover .dropdown-content{      /*hover hiện sub menu*/
    display: block;
}

.navbar-collapse .navbar-nav .nav-item .dropdown-content{   /*định dạng kích thước sub menu*/
    background-color: #000;
    width: 250px;
    height: 430px;
    padding: 20px;
    border-radius: 10px;
    border: 1.5px solid #DDDDDD;
}
.navbar-collapse .navbar-nav .nav-item .dropdown-content .dropdown-item{    /*định dạng text trong sub menu*/
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    margin: 0px;
    
}
.navbar-collapse .navbar-nav .nav-item .dropdown-content .dropdown-item:hover{
    color:tomato;
}

/*icon user khách hàng*/
.login{                     /*phần chứa icon và phần ẩn(đăng nhập + đăng ký)*/
    position: relative; 
}
.login .dk-and-dn{          /*phần ẩn 'đăng nhập + đăng ký' ẩn*/
    display: none;
    width: 150px;
    height: 100px;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    margin-left: -80px;
    padding-top: 20px;
    border-radius: 10px;
    border: 1px solid #363636;
}
.login .dk-and-dn p{    /*chữ đăng ký + đăng nhập*/
    color: #000;
    font-size: 16px;
    margin-left: 15px;
}
.login .dk-and-dn a{    /*thẻ a chứa chứa 2 chữ đăng ký + đăng nhập*/
    text-decoration: none; 
    background-color: #1c9cea;
}
.login .dk-and-dn div:hover{  /*div chứa a*/
    background-color: #DDDDDD;
}
.login:hover .dk-and-dn{    /*hover hiện option đăng nhập*/
    display: block;
}

/*================================================================================================================*/
/* 2. phần thông tin chi tiết sản phẩm*/

.khung .image-sanpham{      /*phần chứa slide*/
    width: 44%;
    margin-left: 8.8%;
    
}
.khung .image-sanpham .slide{       /*nội dung slide*/
    height: 470px;
    box-shadow: 0px 0px 10px 7px #BBBBBB;
}

.khung .image-sanpham .slide .glyphicon{    /*icon diều khiểu slide*/
    font-size: 25px;
    
}

.khung .image-sanpham .slide .carousel-inner .item img{
    height: 470px;      /*hình slide*/
    width: 100%;
}

/*phần thông tin sản phẩm 'đặt ngay'*/
.khung .thongtin-sanpham{    /*phần chứa nội dung thông tin*/   
    margin-left: 0px;
    width: 40%;
}
.khung .thongtin-sanpham .gia{  /*giá*/
    font-size: 22px;
    font-family: 'Inconsolata', monospace;
}
.khung .thongtin-sanpham h2{    /*tên sản phẩm*/
    font-family: 'Noto Sans TC', sans-serif;
}
.khung .thongtin-sanpham  .gioithieu{
    font-size: 15px;
    text-align: justify;
}
.khung .thongtin-sanpham .nut-dat .nut{       /*phần chứa thẻ a "đặt ngay"*/
    background-color: orangered;
    border: 1px solid orangered;
    width: 130px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    padding-top: 5px;
    border-radius: 8px;
    
}
.khung .thongtin-sanpham .nut-dat .nut:hover{        /*hover nút đặt ngay*/
    background-color: rgb(197, 54, 2);
    box-shadow: 3px 3px 8px 3px #AAAAAA;
}
.khung .thongtin-sanpham .nut-dat .nut{     /*chữ "đặt ngay"*/
    color: #fff;
    text-decoration: none; 
} 
.khung .thongtin-sanpham .danhmuc{      /*thẻ a danh mục*/
    text-decoration: none;
    color: black;
}
.khung .thongtin-sanpham .danhmuc:hover{    /*hover chữ trong danh mục*/
    color: rgb(255, 174, 0);
}
.khung .thongtin-sanpham .icon-share{       /*phần chức icon*/
    margin-top: 10px;
}
.khung .thongtin-sanpham .icon-share a{     /*icon */
    font-size: 25px;
    margin: 20px;
    color: #999999;
    text-decoration: none;
}

.khung .thongtin-sanpham .icon-share a .fa-facebook-f:hover{
    color: #4064ac;     /*hover icon*/
}
.khung .thongtin-sanpham .icon-share a .fa-twitter:hover{
    color: #1c9cea;     /*hover icon*/
}
.khung .thongtin-sanpham .icon-share a .fa-google:hover{
    color: #dd4b39;     /*hover icon*/
}
.khung .thongtin-sanpham .icon-share a .fa-instagram:hover{
    color: #ad30b7;     /*hover icon*/
}
.khung .thongtin-sanpham .icon-share a .fa-youtube:hover{
    color: #ff0000;     /*hover icon*/
}

.khung .thongtin-sanpham .nut-dat .fade .modal-dialog .modal-content .modal-footer .dat{
    background-color: #37b721;      /*nút rong form 'đặt ngay'*/
}
.khung .thongtin-sanpham .nut-dat .fade .modal-dialog .modal-content .tong-tien{
    margin-left: 20px;
}

/*====================================================================================================================================*/
/* 3. PHẦN TABS mô tả*/
/*phần mô tả*/
.nav-tabs{      /*các nút tab menu*/
    margin-left: 10.55%;
    margin-top: 50px;  
    border: none; 
}
.nav-tabs li a{     /*chữ trong nút tab*/
    color:#000;
    font-weight: bold;
}
.nav-tabs li a:active{      /* bấm vào đổi màu chữ*/
    color:#ff0000;
}
.tab-content {      /*khung chứa all nội dung các nút*/
    margin-left: 10.55%;
    margin-top: 0px;
    width: 80%;
    border: 1px solid #dddddd;
    list-style-position: inside; /*dấu chấm nằm trong khung*/
    padding: 30px;
    text-align: justify;
}
.tab-content #mota ul li{       /*thành phần nội dung thẻ li*/
    margin-top: 15px;
    font-size: 15px;
}


    /*phần thông tin bổ sung*/
.tab-content #bosung .noidung-bs p{     /*định dạng chữ trong thông tin bổ sung*/
    padding-bottom: 30px;
    font-size: 15px;
}

/*phần lịch trình*/
.tab-content #lichtrinh .icon-lichtrinh{        /*khung chứa icon lịch trình*/
    float:left;
    width: 50px;
    height: 50px;
    color: #333333;
    border: 2px solid #e1e1e1;
    background-color: #e1e1e1;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;           
}
.tab-content #lichtrinh .icon-lichtrinh i{      /*icon*/
    margin-top: 8px;
}
.tab-content #lichtrinh p{  /*kích thước chung cho thẻ p thời gian*/
    font-size: 16px;
}


/*=====cụm 1=====*/
.tab-content #lichtrinh .p-1{   /*chữ "ngày 1"*/
    margin-left: 13px;
}
.tab-content #lichtrinh .li-1{   /*dấu chấm to */
    font-size: 50px;
    margin-top: -58px;
    margin-left: 74px;
    color:#008fea;
    padding-bottom: -50px;
}
.tab-content #lichtrinh .li-1 span{      /*địa điểm*/
    font-size: 18px;
    margin-left: -30px;
}
.tab-content #lichtrinh .nd-lichtrinh1{      /*nội dung lịch trình*/
    margin-left: 110px;
    margin-top: 50px;
    font-size: 14px;
    /*clear: both;    /*xóa phía cả 2 phía dưới*/
}
.tab-content #lichtrinh .nd-2{       /*thẻ ul "dại diện công ty... + 2 buổi bữa ăn"*/
    margin-left: 110px;                 /*thêm vào sửa lại từ copy file sanpham*/
}

.tab-content #lichtrinh .duong-ngancach1{ /*đường ngăn cách*/
    border-left: 3px solid #cccccc;
    margin-left: 30px;
    margin-top: -30px;
    height: 222px;
    float:left; 
    
}


/*=====cụm 2=====*/
.tab-content #lichtrinh .cum2{      /*khung chứa all cụm 2*/
    margin-top: -9px;
}
.tab-content #lichtrinh .cum2 .p-2{   /*chữ "ngày 2"*/
    margin-left: 0px;
}
.tab-content #lichtrinh .cum2 .li-2{   /*dấu chấm to */
    font-size: 50px;
    margin-left: 74px;
    margin-top: -58px;
    color:#008fea;
    
}
.tab-content #lichtrinh .li-2 span{      /*địa điểm*/
    font-size: 18px;
    margin-left: -30px;
}
.tab-content #lichtrinh .duong-ngancach2{       /*đường ngăn cách*/
    border-left: 3px solid #cccccc;
    margin-left: 30px;
    margin-top: -75px;
    height: 512px; 
    float:left;          
}
.tab-content #lichtrinh .nd-lichtrinh2{      /*nội dung lịch trình*/
    margin-left: 110px;
    margin-top: 70px;
    font-size: 14px;
    /*clear: both;    /*xóa phía cả 2 phía dưới*/
}
.tab-content #lichtrinh .nd-lichtrinh2 ul li{
    margin-bottom: 10px;
}


/*=====cụm 3=====*/
.tab-content #lichtrinh .cum3{      /*khung chứa all cụm 3*/
    margin-top: -6px;
    
}
.tab-content #lichtrinh .cum3 .p-3{   /*chữ "ngày 3"*/
    margin-left: 0px;
}
.tab-content #lichtrinh .cum3 .li-3{   /*dấu chấm to */
    font-size: 50px;
    margin-left: 74px;
    margin-top: -58px;
    color:#008fea;
    
}
.tab-content #lichtrinh .li-3 span{      /*địa điểm*/
    font-size: 18px;
    margin-left: -30px;
}
.tab-content #lichtrinh .duong-ngancach3{   /*đường ngăn cách*/
    border-left: 3px solid #cccccc;
    margin-left: 30px;
    margin-top: -72px;
    height: 383px; 
    float:left;          
}
.tab-content #lichtrinh .nd-lichtrinh3{      /*nội dung lịch trình*/
    margin-left: 110px;
    margin-top: 70px;
    font-size: 14px;
    /*clear: both;    /*xóa phía cả 2 phía dưới*/
}
.tab-content #lichtrinh .nd-lichtrinh3 ul li{
    margin-bottom: 10px;
    
}

/*=====cụm 4=====*/
.tab-content #lichtrinh .cum4{      /*khung chứa all cụm 2*/
    margin-top: -3px;
    
}
.tab-content #lichtrinh .cum4 .p-4{   /*chữ "ngày 3"*/
    margin-left: 0px;
}
.tab-content #lichtrinh .cum4 .li-4{   /*dấu chấm to */
    font-size: 50px;
    margin-left: 74px;
    margin-top: -58px;
    color:#008fea;
    
}
.tab-content #lichtrinh .li-4 span{      /*địa điểm*/
    font-size: 18px;
    margin-left: -30px;
}
.tab-content #lichtrinh .duong-ngancach4{   /*đường ngăn cách*/
    border-left: 3px solid #cccccc;
    margin-left: 30px;
    margin-top: -72px;
    height: 300px; 
    float:left;          
}
.tab-content #lichtrinh .nd-lichtrinh4{      /*nội dung lịch trình*/
    margin-left: 110px;
    margin-top: 50px;
    font-size: 14px;
    /*clear: both;    /*xóa phía cả 2 phía dưới*/
}



/*phần đánh giá*/
.tab-content #danhgia .khung-dg{        /*khung chứa nội dung đánh giá*/
    border: 2px solid #37b721;
    padding-top: 30px;
    padding-bottom: 30px;
}
.tab-content #danhgia .khung-dg .tieude-dg{     /*text tiêu đề đánh giá*/
    font-size: 22px;
    margin-left: 30px;
}
.tab-content #danhgia .khung-dg .tieude-dg-2{     /*text đánh giá*/
    margin-left: 30px;
}

.tab-content #danhgia .khung-dg .sao-1{     /*cụm 1 sao*/
    margin-left: 30px;
    padding-right: 5px;
    border-right: 1px solid #AAAAAA;
    font-size: 18px;
    color: #DDDDDD;
}
.tab-content #danhgia .khung-dg .sao-2{     /*cụm 2 sao*/
    margin-left: 5px;
    padding-right: 5px;
    border-right: 1px solid #AAAAAA;
    font-size: 18px;
    color: #DDDDDD;
}
.tab-content #danhgia .khung-dg .sao-3{     /*cụm 3 sao*/
    margin-left: 5px;
    padding-right: 5px;
    border-right: 1px solid #AAAAAA;
    font-size: 18px;
    color: #DDDDDD;
}
.tab-content #danhgia .khung-dg .sao-4{     /*cụm 4 sao*/
    margin-left: 5px;
    padding-right: 5px;
    border-right: 1px solid #AAAAAA;
    font-size: 18px;
    color: #DDDDDD;
}
.tab-content #danhgia .khung-dg .sao-5{     /*cụm 5 sao*/
    margin-left: 5px;
    padding-right: 5px;
    border-right: 1px solid #AAAAAA;
    font-size: 18px;
    color: #DDDDDD;
}
.tab-content #danhgia .dg-1{        /*chữ đánh giá*/
    font-size: 20px;
}
.tab-content #danhgia .khung-dg a{
    text-decoration: none;
}
.tab-content #danhgia .khung-dg .sao-1:hover{   /*hover đổi màu sao*/
    color:rgb(255, 174, 0);
}
.tab-content #danhgia .khung-dg .sao-2:hover{   /*hover đổi màu sao*/
    color:rgb(255, 174, 0);
}
.tab-content #danhgia .khung-dg .sao-3:hover{   /*hover đổi màu sao*/
    color:rgb(255, 174, 0);
}
.tab-content #danhgia .khung-dg .sao-4:hover{   /*hover đổi màu sao*/
    color:rgb(255, 174, 0);
}
.tab-content #danhgia .khung-dg .sao-5:hover{   /*hover đổi màu sao*/
    color:rgb(255, 174, 0);
}

.tab-content #danhgia .khung-dg .nhanxet{       /* phần chứa ô viết nhận xét*/
    margin-left: 30px;
    margin-top: 30px;
}
.tab-content #danhgia .khung-dg .nhanxet #o-nhan-xet{
    width: 95%;          /*ô viết nhận xét*/
    height: 150px;
}

.tab-content #danhgia .khung-dg .form-group{
    margin-left: 30px;          /*form tên và email*/
    margin-top: 30px;
}
.tab-content #danhgia .khung-dg .nut-send{
    margin-left: 20px;          /*nút gửi*/
    margin-top: 30px;
    width: 50px;
    background-color: #37b721;
    color: #fff;
}
.tab-content #danhgia .khung-dg .nut-send:hover{
    background-color: #179102;      /*hover nút gửi*/
}

/*=======================================================================================================================*/
/* 4. phần sản phẩm tương tự*/

.sp-tuongtu{        /*khung chứa all nội dung*/
    border-top: 1px solid #dddddd;
    width: 80%;
    margin-left: 10.5%;
    margin-top: 30px;
    
}
.sp-tuongtu h3{         /*chữ "sản phẩm tương tự"*/
    font-weight: bold;
    padding-bottom: 25px;
}
.sp-tuongtu .row .thumbnail-sp-tt .thumbnail{
    background-color: #EEEEEE;      /*khung chứa hình*/
    box-shadow: 5px 5px 10px 3px #5c5757;
    width: 100%;
    height: 430px;
}
.sp-tuongtu .row .thumbnail-sp-tt .thumbnail:hover{
    background-color: #FFFF99;     /* hover khung chứa hình*/
}
.sp-tuongtu .row .thumbnail-sp-tt .thumbnail .caption{
    color: #000;        /* text tên tour*/
}
.sp-tuongtu .row .thumbnail-sp-tt .thumbnail .caption::after{
    color: #fff;        /* text tên tour*/
}
.sp-tuongtu .row .thumbnail-sp-tt .thumbnail img{
    width: 100%;       /*hình*/
    height: 300px;
}
.sp-tuongtu .row .thumbnail-sp-tt .thumbnail .caption P{
    font-size: 18PX;
    margin-top: -20px;
}
.sp-tuongtu .row .thumbnail-sp-tt .dubai img:hover{
    content: url('./image/33.png');     /*hover đổi ảnh du bai*/
    transform: scale(1.04);
    transition: linear 0.2s;
}
.sp-tuongtu .row .thumbnail-sp-tt .canada img:hover{
    content: url('./image/34.png');     /*hover đổi ảnh canada*/
    transform: scale(1.04);
    transition: linear 0.2s;
}
.sp-tuongtu .row .thumbnail-sp-tt .thailan img:hover{
    content: url('./image/35.jpg');     /*hover đổi ảnh thái lan*/
    transform: scale(1.04);
    transition: linear 0.2s;
}
.sp-tuongtu .row .thumbnail-sp-tt .nhatban img:hover{
    content: url('./image/36.png');     /*hover đổi ảnh nhật bản*/
    transform: scale(1.04);
    transition: linear 0.2s;
}

/*================================================================================================================*/
/* 8. fooer*/

/*phần icon liên kết mạng xã hội*/
.d-flex{
    padding-top: 30px;
    background-color: #363636;
}
.d-flex .d-lg-block span{   /*tiêu đề liên kết mạng xã hội*/
    font-size: 18px;
    color: #fff;
}
.d-flex .icon-mangxakoi .text-reset .fab{   /*định dạng icon mạng xã hội*/
    font-size: 30px;
    margin: 20px;
    color: #BEBEBE;
        
}
.d-flex .icon-mangxakoi .text-reset .fa-facebook-f:hover{
    color: #4064ac;     /*hover icon*/
}
.d-flex .icon-mangxakoi .text-reset .fa-twitter:hover{
    color: #1c9cea;     /*hover icon*/
}
.d-flex .icon-mangxakoi .text-reset .fa-google:hover{
    color: #dd4b39;     /*hover icon*/
}
.d-flex .icon-mangxakoi .text-reset .fa-instagram:hover{
    color: #ad30b7;     /*hover icon*/
}
.d-flex .icon-mangxakoi .text-reset .fa-youtube:hover{
    color: #ff0000;     /*hover icon*/
}

/*phần thông tin công ty*/
.all-thongtin{
    color:#fff;
    background-color: #363636;
    /* padding-top: 0px;*/
}
.all-thongtin .container .row .thongtin-lienhe{ /*phần khung chứa thông tin liên hệ công tin*/
    text-align:initial;
    
}
.all-thongtin .container .row .thongtin-lienhe h6{
    font-size: 22px;        /*tên công ty*/
    padding-bottom: 10px;
    color:rgb(255, 174, 0);
}
.all-thongtin .container .row .thongtin-lienhe .link-lienhe a{
    text-decoration: none;      /*phần link liên hệ của công ty*/
    margin-left: 10px;
    color:#fff;
}
.all-thongtin .container .row .thongtin-lienhe .link-lienhe a:hover{
    color:rgb(255, 174, 0);        /* hover phần link liên hệ của công ty*/
}
.all-thongtin .container .row .thongtin-lienhe .form-group{
    width: 330px;   /*form email*/
}
.all-thongtin .container .row .thongtin-lienhe .form-group button{
    margin-top: 10px;       /*nút gửi*/
}
.all-thongtin .container .row .thongtin-lienhe .form-group button:hover{
    background-color: rgb(255, 174, 0);
}


/*phần 'tin tức' + 'góc khách hàng'*/
.all-thongtin .container .row .tieude-tt{   /*phần khung chứa 'tin tức' + 'góc khách hàng' + 'tour phổ biến'*/
    text-align: initial;
    margin-left: 160px;

}
.all-thongtin .container .row .tieude-tt h6{   /*chữ tin tức*/
    font-size: 16px;
    color:rgb(255, 174, 0);
}

.all-thongtin .container .row .tieude-tt ul li a{  
    text-decoration: none;      /*định dạng thẻ a chung cho 'tin tức' và 'khách hàng'*/
    color: #fff;
}
.all-thongtin .container .row .tieude-tt ul li a:hover{
    color:rgb(255, 174, 0);
}

/*phần bản quyền*/
footer .banquyen{
    padding-bottom: 20px;
    background-color: #363636;
    color: #fff;
}